# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
.env/
ENV/
env/
venv.bak/
pybr-venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
*.log
*.sqlite3

# Pytest and coverage
.cache/
.coverage
htmlcov/
*.cover
*.py,cover
*.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.pyenv/
.venv/
.venv-Angela
pip-log.txt
pip-delete-this-directory.txt

# IDE specific
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# Miscellaneous
*.DS_Store
Thumbs.db

# Binary, include, and lib directories
bin/
include/
lib/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm (JetBrains)
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
.qodo